<div id="tapbar-wrapp">
<table width="100%" border="0" style="text-align:center">
  <tr>
    <td style="opacity: %opacityLeft%" ontouchend="wrapper('update', pagination.state.data.db, pagination.state.data.cid, '%pre_id%', '%pre_header%')"><img src="www/img/tapbar/left.png" height="25px" /><div>Предыдущая</div></td>
    <td ontouchend="setFavorite(this)"><img src="www/img/tapbar/%favorite%.png" height="25px" /><div>%favoriteText%</div></td>
    <td ontouchend="setActivity(this)"><img src="www/img/tapbar/go-%go%.png" height="25px" /><div>%goText%</div></td>
    <td ontouchend="sendMail()"><img src="www/img/tapbar/message.png" height="25px" /><div>Поделиться</div></td>
    <td style="opacity: %opacityRight%" ontouchend="wrapper('update', pagination.state.data.db, pagination.state.data.cid, '%next_id%', '%next_header%')"><img src="www/img/tapbar/right.png" height="25px" /><div>Следующая</div></td>
  </tr>
</table>
</div>