<div id="tapbar-wrapp">
<table width="100%" border="0" style="text-align:center">
  <tr>
    <td onclick="content('News')"><img src="www/img/tapbar/news.png" height="25px" /><div>Новости</div></td>
    <td onclick="content('Activity')"><img src="www/img/tapbar/activity.png" height="25px" /><div>Мероприятия</div></td>
    <td><img src="www/img/tapbar/help.png" height="25px" /><div>Справочники</div></td>
    <td><img src="www/img/tapbar/calculator.png" height="25px" /><div>Калькуляторы</div></td>
    <td><img src="www/img/tapbar/settings.png" height="25px" /><div>Настройки</div></td>
  </tr>
</table>

</div>